# 环境变量文件
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# 数据库
*.db
*.sqlite
*.sqlite3

# 日志
*.log

# IDE
.vscode/
.idea/

# 操作系统
Thumbs.db
.DS_Store

# 测试
.pytest_cache/
.tox/

# 构建
build/
dist/
*.egg-info/